In [2]:
import numpy as np
import matplotlib.pyplot as plt 
import pandas as pd

In [9]:
df=pd.read_csv('data.csv')
df.head()

   study_hours  attendance_percentage  sleep_hours  final_marks
0            7                     73            5           78
1            4                     82            8           85
2            8                     99            5           94
3            5                     80            8           83
4            7                     75            8           98